.homeContainer {
  height: 100%;
  background-image: url("~src/assets/img/imagen5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.menuHome{
  padding-top:13%;
  padding-left: 15%;

}

.divIsLoginHome {
  display: flex;
  flex-direction: column;
}


button {
  background-color: #77104a;
  color: white;
  width: 300px;
  height: 40px;
  margin: 10px;
  font-size: large;
}

button:hover{
  color: #ffcaf6;
}


