<div class="homeContainer">
  <div class="menuHome">
    <button id="horariosBtnHome" mat-button routerLink="/horarios">Mapa y horarios</button>

  <div  *ngIf="isLogin">
    <div class="divIsLoginHome" *ngIf="this.empleado.role.toString() != 'ADMIN'">
        <button id="consultarJornadaBtn" mat-button routerLink="/consultar-jornada">Consultar jornada</button>
        <button id="solVacacionesBtn" mat-button routerLink="/solicitar-vacaciones">Solicitar vacaciones</button>
        <button id="portalSolBtn" mat-button routerLink="/portal-solicitudes">Portal de solicitudes</button>
    </div>
    <div class="divIsLoginHome"*ngIf="this.empleado.role.toString() == 'ADMIN' ">
      <button mat-button id="verSolBtn" routerLink="/ver-solicitudes">Ver solicitudes</button>
      <button mat-button id="gestUJBtn" routerLink="/gestionar-usuarios-jornadas">Gestionar usuarios y tareas</button>
    </div>
  </div>
  </div>
</div>

