table {
  width: 100%;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

td {
  width: auto;
}

.container {
  position:absolute;
  top: 120px;
  left: 100px;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  gap: 15px;

}

#filtroUsuarios{
  width: 100%;
}

.filtro{
  width: 100%;
}

#tablaUsuarios {
  overflow: scroll;
  align-self: flex-start;
  width: 50%;
}

.calendar-card {
  width: 25%;
  position: relative;
}

#tablaTareas{
  float: right;
  width: 50%;
}

#btnNuevaTarea{
  width: 100%
}


