<div class="gestUJ">
  <h2>Gestión de usuarios y tareas</h2>

  <div class="container">

    <div class="calendarContainer">
      <h3 class="titulosFiltros">Filtrar por día</h3>
      <mat-card class="calendar-card">
        <mat-calendar (click)="seleccionarDia()" [(selected)]="diaSeleccionado" id="calendario"></mat-calendar>
      </mat-card>
    </div>

    <div class="container2">
      <h3 class="titulosFiltros">Filtrar por usuario</h3>
      <div>
      <div class="buscarAddContainer">

        <input [(ngModel)]="filtroUsuarios" id="filtroUsuarios" matInput name="filtroUsuarios"
               placeholder="Buscar por nombre de usuario">
        <button (click)="addUsuario()" id="addUsuario" mat-button matTooltip="añadir nuevo usuario">
          Nuevo usuario
        </button>
        <button (click)="addTarea()" *ngIf="!isDiaLibre" id="btnNuevaTarea" mat-button>
          Nueva tarea
        </button>
      </div>

      <div class="tablaUsuariosContainer">

        <table [dataSource]="empleados|filter:filtroUsuarios" id="tablaUsuarios" mat-table>

          <ng-container matColumnDef="username">
            <th *matHeaderCellDef mat-header-cell>Nombre de usuario</th>
            <td *matCellDef="let element" mat-cell> {{element.username}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Nombre</th>
            <td *matCellDef="let element" mat-cell>{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="rol">
            <th *matHeaderCellDef mat-header-cell>Rol</th>
            <td *matCellDef="let element" mat-cell>{{element.role}}</td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
              <button (click)="verDetallesEmpleado(element)" id="detallesEmpleadoBtn" mat-button>
                <mat-icon>search</mat-icon>
              </button>
              <button (click)="eliminarEmpleado(element)" id="eliminarEmpleadoBtn" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="empleadosColumn" mat-header-row></tr>
          <tr (click)="seleccionarEmpleado(row.id)"
              *matRowDef="let row; columns: empleadosColumn;"
              mat-row matTooltip="seleccionar"></tr>
        </table>
      </div>

      <div class="filtroCont">

        <ng-container *ngIf="empleadoSeleccionado" >
          <button (click)="deleteEmpleadoFiltro()" class="filtro"mat-stroked-button>
            <mat-icon>clear</mat-icon>
            {{empleadoSeleccionado.username}}
          </button>
        </ng-container>
        <ng-container *ngIf="diaSeleccionado" >
          <button (click)="deleteFechaFiltro()" class="filtro" mat-stroked-button>
            <mat-icon>clear</mat-icon>
            {{formatearFecha(diaSeleccionado.toDate())}}
       </button>
        </ng-container>
      </div>
      </div>
    </div>


  </div>

  <div class="container3">
    <h4 *ngIf="isDiaLibre">DÍA LIBRE</h4>
    <h4 *ngIf="!hasTarea && diaSeleccionado && !isDiaLibre">Aún no se ha asignado una jornada para el día
      seleccionado</h4>

    <table *ngIf="hasTarea" [dataSource]="dataSource" id="tablaTareas" mat-table>

      <ng-container matColumnDef="descripcion">
        <th *matHeaderCellDef mat-header-cell>Descripción</th>
        <td *matCellDef="let element" mat-cell>{{element.tarea.descripcion}}</td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th *matHeaderCellDef mat-header-cell>Fecha</th>
        <td *matCellDef="let element" mat-cell>{{formatearFecha(element.jornada.date)}}</td>
      </ng-container>

      <ng-container matColumnDef="horario">
        <th *matHeaderCellDef mat-header-cell>Horario</th>
        <td *matCellDef="let element" mat-cell>{{element.tarea.horaSalida}} - {{element.tarea.horaFin}}</td>
      </ng-container>

      <ng-container matColumnDef="empleado">
        <th *matHeaderCellDef mat-header-cell>Empleado</th>
        <td *matCellDef="let element" mat-cell>{{element.jornada.empleado.username}}</td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th *matHeaderCellDef mat-header-cell>Accion</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="verDetallesTarea(element.tarea)" href="/ver-solicitudes" id="detallesTarea" mat-button>
            Detalles
            Tarea
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator id="paginador" [length]="tareas.length"
                   [pageSize]="2"
                   [hidePageSize]="true"
                   aria-label="Select page"
                   showFirstLastButtons>
    </mat-paginator>

  </div>
</div>
