h2 {
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: row;
}

.filtro {
  margin: 10px;
}

#tablaUsuarios {
  width: 110%;

}

.calendarContainer {
  width: 250px;
}

#tablaTareas {

  width: 120%;
}

#btnNuevaTarea {
  background-color: #77104a;
  color: #FFFFFF;
}

.gestUJ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filtroUsuarios {
  height: 20px;
  border-bottom: 1px solid black;
}

#addUsuario {
  height: 40px;
}

#filtroUsuarios {
  width: 50%;
}

.container2 {
  display: flex;
  flex-direction: column;
  min-width: 65%;
  margin-left: 70px;
}

.tablaUsuariosContainer {

  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
}

.container3 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuevo-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuevo-usuario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuevo-usuario h2 {
  margin-bottom: 10px;
}

.nuevo-usuario #addUsuarioBtn {
  background-color: #77104a;
  color: white;
}

.nueva-tarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nueva-tarea form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nueva-tarea h2 {
  margin-bottom: 10px;
}

.nueva-tarea #addTarea {
  background-color: #77104a;
  color: white;
}

#detallesEmpleadoBtn {
  background-color: #77104a;
  color: white;
  margin-right: 10px
}

#eliminarEmpleadoBtn {
  background-color: #D1D1D1;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}









