<h1>Gestión de usuarios y jornadas </h1>

<input [(ngModel)]="filtroUsuarios" name="filtroUsuarios" placeholder="Buscar por nombre de usuario">

<a matTooltip="añadir nuevo usuario">
  <a (click)="addUsuario()">
    <mat-icon>person_add</mat-icon>
  </a>
</a>

<table>
  <tr>
    <th>Nombre de usuario</th>
    <th>Nombre completo</th>
    <th>Rol</th>
    <th></th>
  </tr>
  <tr (click)="seleccionarEmpleado(empleado.id)" *ngFor="let empleado of empleados | filter:filtroUsuarios"
      matTooltip="seleccionar">
    <td>{{empleado.username}}</td>
    <td>{{empleado.name}}</td>
    <td>{{empleado.role}}</td>
    <td>
      <button (click)="verDetallesEmpleado(empleado)" mat-button>Detalles</button>
      <button (click)="eliminarEmpleado(empleado)" mat-button>Eliminar</button>
    </td>
  </tr>

</table>

<ng-container *ngIf="empleadoSeleccionado">
  <button (click)="deleteEmpleadoFiltro()" mat-stroked-button>
    <mat-icon>clear</mat-icon>
    {{empleadoSeleccionado.username}}
  </button>
</ng-container>
<ng-container *ngIf="diaSeleccionado">
  <button (click)="deleteFechaFiltro()" mat-stroked-button>
    <mat-icon>clear</mat-icon>
    {{diaSeleccionado.getDate()}}/{{diaSeleccionado.getMonth()}}/{{diaSeleccionado.getFullYear()}}
  </button>
</ng-container>


<mat-card class="calendar-card">
  <mat-calendar (click)="seleccionarDia()" [(selected)]="diaSeleccionado"></mat-calendar>
</mat-card>


<table *ngIf="hasTarea">
  <th>Descripción</th>
  <th>Fecha</th>
  <th>Horario</th>
  <th>Empleado</th>
  <p *ngFor="let j of jornadasEmpleado">
    <tr *ngFor="let t of j.tareas">
      <td>
      {{t.descripcion}}
      </td>

    <td>{{j.date.toString().split('T')[0]}}</td>
    <td>
      {{t.horaSalida}}
    </td>
    <td>{{j.empleado.username}}</td>
    <td>
      <button (click)="verDetallesTarea(t.id)" href="/ver-solicitudes">Detalles Tarea</button>
    </td>
  </tr>
  </p>

</table>
<p *ngIf="!hasTarea && diaSeleccionado">Aún no se ha asignado una jornada para el día seleccionado</p>

<button (click)="addTarea()" mat-button>
  Nueva tarea
</button>

