<div class="nueva-tarea">
  <h2 mat-dialog-title>Nueva tarea</h2>

  <form [formGroup]="formulario">
    <p>
      <mat-form-field>
        <input [(ngModel)]="tarea.anden" formControlName="anden" matInput min="1" name="anden" pattern="^[0-9]+"
               placeholder="Anden" required type="number"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input [(ngModel)]="tarea.descripcion" formControlName="descripcion" matInput name="descripcion"
               placeholder="Descripcion" required
               type="text"/>
      </mat-form-field>
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Estación de origen</mat-label>
      <mat-select [(value)]="origen" formControlName="origen" name="selectOrigen" required>
        <mat-option *ngFor="let e of estaciones" [value]="e" id="origen">
          {{e.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estación de destino</mat-label>
      <mat-select [(value)]="destino" formControlName="destino" name="selectDestino" required>
        <mat-option *ngFor="let e of estaciones" [value]="e" id="destino">
          {{e.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="comprobarEstaciones()">Las estaciones no están en la misma ruta</mat-error>
    <p>
      <mat-form-field>
        <mat-label>Hora de inicio</mat-label>
        <input [(ngModel)]="tarea.horaSalida" formControlName="horaInicio" matInput max="23:59" min="00:00"
               name="horaInicio" type="time">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Hora de finalización</mat-label>
        <input [(ngModel)]="tarea.horaFin" formControlName="horaFin" matInput max="23:59" min="00:00" name="horaFin"
               type="time">
      </mat-form-field>
      <mat-error *ngIf="comprobarHorarios()">La hora de fin no puede ser anterior a la hora de inicio</mat-error>
    </p>


    <mat-form-field>
      <mat-label>Tren</mat-label>
      <mat-select [(value)]="tren" formControlName="tren" name="selectTrenes" required>
        <mat-option *ngFor="let t of trenes" [value]="t" id="tren">
          {{t.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
      <button [mat-dialog-close] mat-button>Cerrar</button>
      <button (click)="validarRuta(this.formulario)" id="addTarea" mat-button type="submit">Añadir</button>
    </div>
  </form>
</div>




