<div class="nuevo-usuario">
  <h2 mat-dialog-title>Nuevo usuario</h2>

  <form [formGroup]="formulario">

    <mat-form-field>
      <input [(ngModel)]="empleado.username" formControlName="username" matInput name="username"
             placeholder="Nombre de usuario" required type="text"/>
    </mat-form-field>
    <mat-error *ngIf="comprobarUsername()">Ya existe un usuario con este username</mat-error>


    <mat-form-field>
      <input [(ngModel)]="empleado.name" formControlName="nombre" matInput name="nombre" placeholder="Nombre" required
             type="text"/>
    </mat-form-field>


    <mat-form-field>
      <input [(ngModel)]="empleado.surname" formControlName="apellidos" matInput name="apellido"
             placeholder="Apellidos" required
             type="text"/>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="empleado.dni" formControlName="dni" matInput name="dni" placeholder="DNI" required
             type="text"/>
    </mat-form-field>
    <mat-error *ngIf="comprobarDni()">Ya existe un usuario con este dni</mat-error>

    <mat-form-field>
      <input [(ngModel)]="empleado.email" formControlName="email" matInput name="email" placeholder="Email" required
             type="text"/>
    </mat-form-field>
    <mat-error *ngIf="comprobarEmail()">Ya existe un usuario con este email</mat-error>


    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select [(ngModel)]="empleado.role" formControlName="rolEmpleado" name="rolEmpleado" required>
        <mat-option *ngFor="let role of roles" [value]="role.value" id="roles">
          {{role.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button (click)="addUsuarioNuevo()" id="addUsuarioBtn" mat-button type="submit">Añadir</button>
      <button [mat-dialog-close] mat-button>Cerrar</button>

    </div>
  </form>

  <div *ngIf="data.gestorUsuariosJornadas.isLoading" class="containerSpinner">
    <mat-spinner></mat-spinner>
  </div>


</div>




