
<mat-card class="calendar-card">
  <mat-calendar [(selected)]="selected" (click)="verJornada()"></mat-calendar>
</mat-card>


<br/>

<mat-accordion >
  <mat-expansion-panel [expanded]="isSolicitado" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Solicitar día libre
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field >
      <mat-label>Hora inicio</mat-label>
      <input matInput type="time" [(ngModel)]="horaInicio" required>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Hora fin</mat-label>
      <input matInput type="time" [(ngModel)]="horaFin" required>
    </mat-form-field>
    <br>
   <mat-form-field appearance="fill">
      <mat-label>Motivo de la ausencia</mat-label>
      <mat-select [(value)]="motivoSeleccionado">
        <mat-option value="Visita médica">Visita médica</mat-option>
        <mat-option value="Otro motivo">Otro motivo</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="submit" *ngIf="motivoSeleccionado" (click)="solicitarDiaLibre()">Solicitar</button>
  </mat-expansion-panel>
</mat-accordion>

<table *ngIf="isSelected">
  <th>Descripción</th>
  <tr *ngFor="let t of tareas">
    <td>{{t.descripcion}}</td>
    <td>
      <button mat-button (click)="verDetalles(t.id)">Detalles</button>
    </td>
  </tr>
</table>

<p *ngIf="!isSelected">Aún no se ha asignado una jornada para el día seleccionado</p>


