#incidencias{
  width: 400px;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
}

.consultarJornada{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1{
  display: flex;
  flex-direction: row;

}

.calendarContainer{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}


.tablaTareaContainer{
  margin-top: 30px;
  overflow-x: auto;
  max-height: 300px;
  width: 400px;
}

#noAsignada{
  margin-top: 20px;
}

#contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#diaLibrePanel{
  border: solid 5px #77104a;
}

button{
  background-color: #77104a;
  color: white;
  margin: 10px;
}

#tablaTareas{
  width: 100%;

}
.consultarJornada h3, caption {
  font-weight: bold;
  font-size: 18px;
  color: #77104a;
  margin-top: 10px;
}

.detallesTareaDiv, .dialog-detalles-jornada{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-detalles-jornada{
  max-height: 500px;
}

.dialog-detalles-jornada h3{
  font-weight: bold;

}

.nuevaIncidenciaDiv{
  padding-left: 60px;
}

#addIncidencia{
  padding:0;
  min-width: 40px;
}
