#incidencias{
  width: 400px;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
}

.consultarJornada{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1{
  display: flex;
  flex-direction: row;

}

.calendarContainer{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}


.tablaTareaContainer{
  overflow-x: auto;
  max-height: 400px;
  width: 400px;
}

#noAsignada{
  margin-top: 20px;
}

#contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#diaLibrePanel{
  border: solid 5px #77104a;
}

button{
  background-color: #77104a;
  color: white;
}

#tablaTareas{
  width: 100%;
}
