.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.filaClicada {
  font-weight: bold;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
}

.solicitarVacaciones{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  font-size: 20px;
}

.tablaExistentes{
  height:450px ;
  overflow:auto;
}

#tablaTodasVacaciones{
  width: 150%;
  text-align: center;
}

#tablaTodasVacaciones th{
  text-align: center;
}


.divSeleccionarPeriodo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tablaSolVExistentes{
  text-align: center;
  width: 100%;
}

#tablaSolVExistentes th{
  text-align: center;
}

button{
  color:white;
  background: #77104a;
}

