<div class="solicitarVacaciones">
  <h2>Solicitud de vacaciones</h2>

  <div *ngIf="!existeSolicitud" class="divSeleccionarPeriodo">
    <p>Selecciona un periodo de vacaciones</p>
    <table [dataSource]="dataSource" id="tablaTodasVacaciones" mat-table>
      <ng-container matColumnDef="invierno">
        <th *matHeaderCellDef mat-header-cell>Periodo de invierno</th>
        <td *matCellDef="let element" mat-cell>{{element.invierno}}</td>
      </ng-container>

      <br>

      <ng-container matColumnDef="verano">
        <th *matHeaderCellDef mat-header-cell>Periodo de verano</th>
        <td *matCellDef="let element" mat-cell>{{element.verano}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="periodoSeleccionado= row"
          *matRowDef="let row; columns: displayedColumns;"
          [class.filaClicada]="periodoSeleccionado==row"
          id="filaVacaciones"
          mat-row
      ></tr>
    </table>


    <button (click)="enviarSolicitud()" id="solicitarV" mat-stroked-button>Solicitar</button>

  </div>

  <div *ngIf="existeSolicitud" class="divExistentes">

    <p>Las solicitudes de vacaciones existentes son:</p>

    <div class="tablaExistentes">
      <table [dataSource]="solicitudesExistentes" id="tablaSolVExistentes" mat-table>

        <ng-container matColumnDef="periodo">
          <th *matHeaderCellDef mat-header-cell>Periodo</th>
          <td *matCellDef="let element" mat-cell> {{formatearFecha(element.fecha)}}
            -- {{formatearFecha(element.fechaFinVacaciones)}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th *matHeaderCellDef mat-header-cell>Estado</th>
          <td *matCellDef="let element" mat-cell>{{element.estado}}</td>
        </ng-container>

        <tr *matHeaderRowDef="vacacionesColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: vacacionesColumns;" mat-row></tr>
      </table>
      <button (click)="volverASolicitarV()" *ngIf="isRechazada" id="newSolicitudV" mat-button>Solicitar vacaciones
      </button>

    </div>
  </div>
</div>
