<h1>Solicitud de vacaciones
</h1>

<div *ngIf="!existeSolicitud">
  <table [dataSource]="dataSource" mat-table>
    <!-- Position Column -->
    <ng-container matColumnDef="invierno">
      <th *matHeaderCellDef mat-header-cell>Periodo de invierno</th>
      <td *matCellDef="let element" mat-cell>{{element.invierno}}</td>
    </ng-container>

    <br>

    <!-- Name Column -->
    <ng-container matColumnDef="verano">
      <th *matHeaderCellDef mat-header-cell>Periodo de verano</th>
      <td *matCellDef="let element" mat-cell>{{element.verano}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr id="filaVacaciones"
      (click)="periodoSeleccionado= row"
      *matRowDef="let row; columns: displayedColumns;"
      [class.filaClicada]="periodoSeleccionado==row"
      mat-row
    ></tr>
  </table>

  <div>
    <button id="solicitarV" (click)="enviarSolicitud()" mat-stroked-button>Solicitar</button>
  </div>
</div>

<div *ngIf="existeSolicitud">
  <p>Las solicitudes de vacaciones existentes son:</p>
  <div *ngFor="let s of solicitudExistente">
    <p> {{s.fecha}} - {{formatearFecha(s.fechaFinVacaciones)}} Estado: {{s.estado}}</p>
  </div>
</div>
