#tablaSolicitudes {
  width: 120%;
}

h2 {
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 30px;
}

.verSolicitudes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerP {
  display: flex;
  flex-direction: row;
}

.titulo {
  font-weight: bold;
}

a:hover {
  color: #125699;
  cursor: pointer;
}

.containerVerSolicitudes {
  display: flex;
  flex-direction: row;
}

.calendar-card {
  width: 250px;
}

.containerCalendario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerJornadas {
  margin-top: 20px;
}

#tablaJornada {
  width: 400px;
  text-align: center;
}

#tablaJornada th {
  text-align: center;
}


caption {
  font-weight: bold;
  font-size: 17px;
  color: #77104a;
}

.divSolicitudes {
  margin-left: 30px;
}

#formSolFiltro {
  height: 10px;
}

#aceptarSolAdminBtn {
  background-color: #77104a;
  color: white
}

#rechazarSolAdminBtn{
  background-color: #D1D1D1;

}

a{
  font-weight: bold;
}
