<div class="verSolicitudes">

  <h2> Solicitudes pendientes</h2>

  <ng-container *ngIf="solicitudes.length>0">
    <table [dataSource]="solicitudes" mat-table>

      <ng-container matColumnDef="fecha">
        <th *matHeaderCellDef mat-header-cell> Fecha</th>
        <td *matCellDef="let element" mat-cell> {{element.fecha}}{{getFinVacaciones(element)}} </td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th *matHeaderCellDef mat-header-cell> Motivo</th>
        <td *matCellDef="let element" mat-cell>{{element.motivo}}</td>
      </ng-container>

      <ng-container matColumnDef="empleado">
        <th *matHeaderCellDef mat-header-cell> Empleado</th>
        <td *matCellDef="let element" mat-cell> {{element.empleado.username}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>

          <button (click)="aceptarSolicitud(element)" id="aceptarSolAdminBtn" mat-button>Aceptar</button>

          <button (click)="rechazarSolicitud(element)" id="rechazarSolAdminBtn" mat-button>Rechazar</button>

        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </ng-container>

  <ng-container *ngIf="solicitudes.length==0">
    <p>No hay solicitudes pendientes</p>
  </ng-container>

</div>
