#tablaSolicitudes {
  width: 600px;
  /*height: 500px;*/
}

h2 {
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 30px;
}

.verSolicitudes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerP {
  display: flex;
  flex-direction: row;
}

.titulo {
  font-weight: bold;
}

a:hover {
  color: #125699;
  cursor: pointer;
}

.containerVerSolicitudes {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.calendar-card {
  width: 250px;
  margin-right: 40px;
}


.containerJornadas {
  display: flex;
}

#tablaJornada {
  width: 400px;
  text-align: center;
}

.divTablaJornada{
  width: 400px;

}

#tablaJornada th {
  text-align: center;
}

h3{
  font-weight: bold;
  font-size: 20px;
  color: #77104a;
  margin-top: 10px;
}

.divSolicitudes {
  margin-left: 30px;
}

#formSolFiltro {
  height: 10px;
}

#aceptarSolAdminBtn {
  color: forestgreen;
}

button mat-icon{
  size: 10px;
}
#rechazarSolAdminBtn{
  color: red;
}

#btnDetallesEmpleadoSol{
  background-color: #77104a;
  color: white;
}

#aceptarVacaciones{
  background-color: #77104a;
  color: white;
}

.vacacionesDialog{
  display: flex;
  flex-direction: column;

}

.vacacionesDialog mat-label{
  display: inline-block;
  width: 150px;
  text-align: right ;
  padding: 15px;

}

