.footer {
  background-color: darkgrey;
  color: black;
  font-weight: 600;
  height: 4%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted{
  display: flex;
  justify-content: center;
  align-items: center;
}
