<div class="toolbar" role="banner">

  <a href="/" id="navBar">
    <mat-icon aria-hidden="false" aria-label="Example home icon" href="/">home</mat-icon>
  </a>

  <button mat-button id="aHorarios" routerLink="/horarios">Mapa y horarios</button>

  <div *ngIf="isLogin && this.empleado.role.toString() != 'ADMIN'">
    <div *ngIf="isLogin">
      <button id="menuGestionBtn" [matMenuTriggerFor]="menu" mat-button>
        <mat-icon>menu</mat-icon>
        Gestión de jornada</button>
      <mat-menu #menu="matMenu" class="mMenu">
        <button id="consultarJornadaBtn" mat-menu-item routerLink="/consultar-jornada">Consultar jornada</button>
        <button id="solVacacionesBtn" mat-menu-item routerLink="/solicitar-vacaciones">Solicitar vacaciones</button>
        <button id="portalSolBtn" mat-menu-item routerLink="/portal-solicitudes">Portal de solicitudes</button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="isLogin && this.empleado.role.toString() == 'ADMIN' ">
    <button mat-button id="verSolBtn" routerLink="/ver-solicitudes">Ver solicitudes</button>
    <button mat-button id="gestUJBtn" routerLink="/gestionar-usuarios-jornadas">Gestionar usuarios y tareas</button>
  </div>

  <div class="spacer"></div>

  <div class="log" *ngIf="!isLogin">
    <a class="identificarse" routerLink="/login">
      <mat-icon >login</mat-icon>
      Identificarse</a>
  </div>
  <div class="log" *ngIf="isLogin">
    <div>{{this.empleado.username}}</div>
    <a class="verPerfil" matTooltip="Ver perfil" routerLink="/ver-perfil">
      <mat-icon>account_circle</mat-icon>
    </a>
    <a class="logout" (click)="logout()">Logout</a>
  </div>

</div>
