<div class="toolbar" role="banner">


  <a href="/" id="navBar">
    <mat-icon aria-hidden="false" aria-label="Example home icon" href="/">home</mat-icon>
  </a>

  <a href="/horarios">Consultar horarios</a>

  <div *ngIf="isLogin && this.empleado.role.toString() != 'ADMIN'">
    <div *ngIf="isLogin">
      <button [matMenuTriggerFor]="menu" mat-button>Gestión de jornada</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/consultar-jornada">Consultar jornada</button>
        <button mat-menu-item routerLink="/solicitar-vacaciones">Solicitar vacaciones</button>
        <button mat-menu-item routerLink="/portal-solicitudes">Portal de solicitudes</button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="isLogin && this.empleado.role.toString() == 'ADMIN' ">
    <button mat-button routerLink="/ver-solicitudes">Ver solicitudes</button>
    <button mat-button routerLink="/gestionar-usuarios-jornadas">Gestionar usuarios y jornadas</button>
  </div>

  <div class="spacer"></div>

  <div *ngIf="!isLogin">
    <a routerLink="/login">Identificarse</a>
  </div>
  <div *ngIf="isLogin">
    <a matTooltip="Ver perfil" routerLink="/ver-perfil">
      <mat-icon>account_circle</mat-icon>
    </a>
    <a (click)="logout()">Logout</a>
  </div>

</div>
