.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #77104a;
  color: white;
  font-weight: 600;
}

.toolbar a {
  margin: 0 20px;
}

a,
a:hover {
  color: #FFFFFF;
  text-decoration: none;
  cursor:pointer;
  display: flex;
  align-items: center;
}

a:hover {
  color: #ffaff1;
}

button:hover{
  color: #ffcaf6;
}

#separador {
  flex: 0.02;
}

.log{
  display: flex;
  align-items: center;
}

#consultarJornadaBtn:hover,
#solVacacionesBtn:hover,
#portalSolBtn:hover{
  color:#77104a;
}

