<div class="toolbar" role="banner">


  <a href="/" id="navBar">
    <mat-icon aria-hidden="false" aria-label="Example home icon" href="/">home</mat-icon>
  </a>

  <a href="/horarios">Consultar horarios</a>

  <div *ngIf="isLogin && employee.role !='ADMIN'">
    <button [matMenuTriggerFor]="menu" mat-button>Gestión de jornada</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/consultar_jornada">Consultar jornada</button>
      <button mat-menu-item routerLink="/solicitar_vacaciones">Solicitar vacaciones</button>
      <button mat-menu-item routerLink="/portal_solicitudes">Portal de solicitudes</button>
    </mat-menu>
  </div>
  <div *ngIf="isLogin && employee.role=='ADMIN'">
    <button mat-button routerLink="/ver_solicitudes">Ver solicitudes</button>
    <button mat-button routerLink="/gestionar-usuarios-jornadas">Gestionar usuarios y jornadas</button>
  </div>

  <div class="spacer"></div>

  <div *ngIf="!isLogin">
    <a routerLink="/login">Identificarse</a>
  </div>
  <div *ngIf="isLogin">
    <a routerLink="/ver-perfil" matTooltip="Ver perfil"><mat-icon>account_circle</mat-icon></a>
    <a (click)="logout()">Logout</a>
  </div>

</div>
