<div class="nueva-solicitud">
  <h2 mat-dialog-title>Nuevo cambio de turno</h2>
  <div mat-dialog-content>
    <form (ngSubmit)="enviarSolicitud()" id="formulario">

      <mat-form-field appearance="fill">
        <mat-label>Día libre a solicitar</mat-label>
        <input #diaSolicitar (dateInput)="saveDateLibrar($event)" [matDatepicker]="picker1" matInput
               name="diaSolicitar" required>
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Día trabajo a cubrir</mat-label>
        <input #diaCubrir (dateInput)="saveDateCubrir($event)" [matDatepicker]="picker2" matInput name="diaCubrir"
               required>
        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Motivo de la ausencia</mat-label>
        <mat-select [(ngModel)]="solicitud.motivo" id="selectMotivo" name="motivoSelect"
                    required>
          <mat-option *ngFor="let motivo of motivos" [value]="motivo.value" class="motivo" id="motivo">
            {{motivo.text.charAt(0)}}{{motivo.text.substring(1, motivo.text.length).toLowerCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-error *ngIf="existeSolVar">
        Ya existe una solicitud para esta fecha
      </mat-error>

      <div>
        <button id="solIntercambioBtn" mat-button type="submit">Enviar</button>
        <button (click)="onNoClick()" mat-button>Cancelar</button>

      </div>

    </form>
  </div>
</div>

