table {
  width: 100%;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.portalSolicitudes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnNuevaSolI{
  color:white;
  background-color: #77104a;
}

.containerSTodas{
  height: 400px;
  overflow:auto;
}
.containerSIntercambio{
  height: 400px;
  overflow:auto;
}
.containerSVacaciones{
  height: 400px;
  overflow:auto;
}


