table {
  width: 100%;
}

table, table th{
  text-align: center;
}

h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.portalSolicitudes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnNuevaSolI{
  color:white;
  background-color: #77104a;
}

.containerSTodas{
  height: 350px;
  overflow:auto;
}
.containerSIntercambio{
  height: 350px;
  overflow:auto;
}
.containerSVacaciones{
  height: 350px;
  overflow:auto;
}

.btnNuevaSolContainer{
  width: 100%;
  justify-content: left;
}

.aceptarSolIntercambio{
  color:white;
  background-color: #77104a;
}

.nueva-solicitud{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nueva-solicitud form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nueva-solicitud #solIntercambioBtn{
  background-color: #77104a;
  color: white;
}

.nueva-solicitud mat-form-field{
  width: 100%;
}

#aceptarSolIntercambio{
  color: forestgreen;
}
#detallesJornadaSolI {
  /*background-color: #D1D1D1;*/
}

.detallesJornadaSolicitud{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portalSolicitudes button{
  margin-right: 10px;
}
