<div class="portalSolicitudes">
  <h2>Portal de solicitudes</h2>


  <button (click)="nuevaSolicitud()" id="btnNuevaSolI" mat-raised-button>Nueva solicitud</button>

  <br/>

  <mat-tab-group>
    <mat-tab label="Solicitudes intercambio">
      <div class="containerSIntercambio">
        <table [dataSource]="solicitudesIntercambio" mat-table ng-controller="cargarSolicitudes">

          <ng-container matColumnDef="fechaTrabajo">
            <th *matHeaderCellDef mat-header-cell> Día a cubrir</th>
            <td *matCellDef="let element" mat-cell> {{element.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaDescanso">
            <th *matHeaderCellDef mat-header-cell> Día de descanso</th>
            <td *matCellDef="let element" mat-cell> {{element.fechaDescanso}} </td>
          </ng-container>

          <ng-container matColumnDef="empleado">
            <th *matHeaderCellDef mat-header-cell> Empleado</th>
            <td *matCellDef="let element" mat-cell> {{element.empleado.username}} </td>
          </ng-container>

          <ng-container matColumnDef="aceptar">
            <th *matHeaderCellDef mat-header-cell> Acción</th>
            <td *matCellDef="let element" mat-cell>
              <button (click)="aceptarSolicitud(element)" mat-button> Aceptar</button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="colummsTodasSolicitudes" mat-header-row></tr>
          <tr *matRowDef="let row; columns: colummsTodasSolicitudes;" mat-row></tr>

        </table>
      </div>
    </mat-tab>

    <mat-tab label="Mis solicitudes" name="misSolicitudesTab">
      <div class="containerSTodas">
        <table [dataSource]="misSolicitudes" mat-table>

          <ng-container matColumnDef="fechaTrabajo">
            <th *matHeaderCellDef mat-header-cell> Día a cubrir</th>
            <td *matCellDef="let element" mat-cell> {{element.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaDescanso">
            <th *matHeaderCellDef mat-header-cell> Día de descanso</th>
            <td *matCellDef="let element" mat-cell> {{element.fechaDescanso}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th *matHeaderCellDef mat-header-cell> Estado</th>
            <td *matCellDef="let element" mat-cell> {{element.estado}} </td>
          </ng-container>

          <tr *matHeaderRowDef="columnsMisSolicitudes" mat-header-row></tr>
          <tr *matRowDef="let row; columns: columnsMisSolicitudes;" mat-row></tr>

        </table>
      </div>
    </mat-tab>

    <mat-tab label="Vacaciones">
      <div class="containerSVacaciones">
        <table [dataSource]="solicitudesVacaciones" mat-table>

          <ng-container matColumnDef="periodoInvierno">
            <th *matHeaderCellDef mat-header-cell> Periodo</th>
            <td *matCellDef="let element" mat-cell> {{element.fecha}}
              --  {{getFinVacaciones(element.fechaFinVacaciones)}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th *matHeaderCellDef mat-header-cell> Estado</th>
            <td *matCellDef="let element" mat-cell> {{element.estado}} </td>
          </ng-container>

          <tr *matHeaderRowDef="columnsVacaciones" mat-header-row></tr>
          <tr *matRowDef="let row; columns: columnsVacaciones;" mat-row></tr>

        </table>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>


