<div class="password-dialog">
  <h2 mat-dialog-title>Introduce una nueva contraseña</h2>

  <form [formGroup]="formularioPassword">
    <mat-form-field appearance="fill">
      <mat-label>Nueva contraseña</mat-label>
      <input [(ngModel)]="data.nuevaPassword" formControlName="nuevaPassword" matInput name="nuevaPassword" required>
      <mat-error *ngIf="formularioPassword.controls['nuevaPassword'].errors">
        Longitud mínima de 9 caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repetir contraseña</mat-label>
      <input [(ngModel)]="data.repetirPassword" formControlName="repetirPassword" matInput name="repetirPassword"
             required>
      <mat-error *ngIf="formularioPassword.controls['repetirPassword'].errors">
        Longitud mínima de 9 caracteres
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="comprobarErrores() && data.nuevaPassword && data.repetirPassword">
      Las contraseñas no coinciden
    </mat-error>

    <div mat-dialog-actions>

      <button (click)="actualizar()" cdkFocusInitial id="aceptarModificacion" mat-button type="submit">Modificar
      </button>
      <button (click)="onNoClick()" mat-button>Cancelar</button>
    </div>
  </form>

</div>

