h2{
  color: #77104a;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCampos input{
  align-items: center;
}

.containerCampos mat-label{
  display: inline-block;
  width: 150px;
  text-align: right ;
  padding: 15px;
}


