<h1>Hola, {{empleado.name}}</h1>

<mat-tab-group>
  <mat-tab label="Datos personales">

    <ng-container>

      <div>
        <label>Nombre</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="empleado.name" matInput name="nombre" readonly>
        </mat-form-field>
      </div>

      <div>
        <label>Apellidos</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="empleado.surname" matInput name="apellidos" readonly>
        </mat-form-field>
      </div>
      <div>
        <label>Nombre de usuario</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="empleado.username" matInput name="username" readonly>
        </mat-form-field>
      </div>
      <div>
        <label>Contraseña</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="empleado.password" [type]="show ? 'text': 'password'" id="password" matInput matInput
                 name="password">
        </mat-form-field>
        <ng-container *ngIf="!show">
          <a (click)="mostrarPassword()" matTooltip="Ver contraseña">
            <mat-icon>visibility</mat-icon>
          </a>
        </ng-container>
        <ng-container *ngIf="show">
          <a (click)="mostrarPassword()" matTooltip="Ocultar contraseña">
            <mat-icon>visibility_off</mat-icon>
          </a>
        </ng-container>
        <a (click)="modificarPassword()">
          <mat-icon>edit</mat-icon>
        </a>
      </div>

      <div>

        <label>Rol</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="empleado.role" matInput name="role" readonly>
        </mat-form-field>
      </div>
    </ng-container>

  </mat-tab>

  <mat-tab label="Días libres">
      <label>Días libres disponibles</label>
      <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="empleado.nDiasLibres">
      </mat-form-field>

  </mat-tab>

  <mat-tab label="Solicitudes">

  </mat-tab>
</mat-tab-group>
