:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}

h1{
  color: #77104a;
  font-weight: bold;
  font-size: 40px;
}

#loginBtn{
  color:white;
  background: #77104a;
}

