:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}

h1 {
  color: #77104a;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}

#loginBtn {
  color: white;
  background: #77104a;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: inline-block;
  align-items: center
}

.campoPassword {
  display: flex;
  flex-direction: row;
}







