<div>
  <mat-form-field appearance="fill">
    <mat-label>Origen</mat-label>
    <mat-select [(value)]="origen" name="origen">
      <mat-option *ngFor="let e of estaciones" [value]="e" id="optionsOrigen">
        <span>{{e.nombre}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Destino</mat-label>
    <mat-select [(value)]="destino" name="destino">
      <mat-option *ngFor="let e of estaciones" [value]="e" id="optionsDestino">
        <span>{{e.nombre}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="consultarHorario(origen, destino)" id="consultarHorariosBtn" mat-button>Consultar</button>
  <h3 *ngIf="!existe">No existe recorrido entre estas dos estaciones</h3>
</div>

<div class="horarios-mapa">
  <app-tabla-horarios *ngIf="isReady" id="tabla-horarios"></app-tabla-horarios>

  <app-mapa id="mapa"></app-mapa>
</div>

<router-outlet></router-outlet>

