html{height: 100%; width:100%; margin:0; padding:0;
  box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
app-root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

app-home{
  width: 100%;
  height: 100%;
}

app-horarios,
app-ver-solicitudes,
app-gest-usuarios-jornadas,
app-consultar-jornada,
app-solicitar-vacaciones,
app-portal-solicitudes{
  padding:30px;
}



