<div class="container">

<!--  <google-map-->
<!--    #mapa-->
<!--    width="1140px"-->
<!--    height="570px"-->
<!--    [center]="getCenter()"-->
<!--    [zoom]="16"-->
<!--    [options]="options"-->
<!--    id="idMap"-->
<!--  >-->
<!--    <map-marker-->
<!--      #markerElem="mapMarker"-->
<!--      *ngFor="let marker of markers"-->
<!--      [position]="marker.center"-->
<!--      [title]="marker.title"-->
<!--    >-->
<!--    </map-marker>-->
<!--  </google-map>-->
  <google-map></google-map>
</div>
